#Team {
  color: #ffffff;

  display: flex;
  flex-direction: column;

  width: 390px;
  margin: 0;
}

#Team h2 {
  font-weight: 700;
  font-size: 28px;

  margin-bottom: 10px;
}
#Team > span {
  font-weight: 400;
  font-size: 16px;

  color: #e8e8e8;

  margin-bottom: 20px;
}
#Team > span b {
  font-weight: 700;
}

#Team .teamList {
  width: 100%;

  display: flex;
  justify-content: center;
}
#Team .teamList > div {
  margin: 20px;

  font-weight: 600;
  font-size: 17px;

  color: #b4b4b4;
}
#Team .teamList .selected {
  color: #ffffff;
}

#Team .teamInfo {
  width: 310px;
  height: 322.4px;
  background: linear-gradient(180deg, #3e7fff 0%, #0b46dc 100%);
  border-radius: 10px;

  margin: 5px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#Team .teamInfo img {
  width: 75px;
  height: 75px;
  margin: 25px;
  margin-top: 0;
}
#Team .teamInfo h3 {
  width: 85%;
  font-weight: 600;
  font-size: 20px;

  margin-bottom: 10px;
}
#Team .teamInfo span {
  width: 85%;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.teamInfo_nav,
.teamInfo_all {
  display: none;
}

@media screen and (min-width: 390px) {
  /* 모바일 */
  #Team {
    width: 390px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  /* 태블릿  */
  #Team {
    width: 628px;
  }
  .teamInfo_nav {
    width: 550px;
    display: flex;
    font-size: 36px;
    color: #818181;
    justify-content: space-between;
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  /* 데스크탑 */
  #Team {
    width: 1273px;
  }
  #Team > .teamInfo,
  #Team > .teamList {
    display: none;
  }
  .teamInfo_all {
    display: flex;
    justify-content: center;
  }
  .teamInfo_all .teamInfo {
    display: flex;
    margin: 5px 10px !important;
  }
}
