.page {
  min-height: calc(100vh - 307px);
  transform: translate(0, 52px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > h2 {
    font-weight: 600;
    font-size: 25px;

    color: #000000;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    > div {
      background: #d9d9d9;
      border-radius: 10px;
      overflow: hidden;

      > img {
      }

      > div {
        background: #f3f3f3;

        > div:first-child {
          color: #4c88ff;
          font-weight: 600;
        }
        > div:last-child {
          color: #818181;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (min-width: 390px) {
  /* 모바일 */
  .page {
    width: 390px;

    > h2 {
      width: 340px;
      font-size: 25px;
      margin-top: 50px;
    }

    > div {
      margin-top: 50px;
      margin-bottom: 100px;

      > div {
        width: 103px;
        height: calc(103px + 55px);
        margin: 7.5px;

        > img {
          width: 103px;
          height: 103px;
        }

        > div {
          width: 100%;
          height: calc(55px - 10px);
          padding: 5px 12px;

          > div {
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 750px) and (max-width: 1200px) {
  /* 태블릿  */
  .page {
    width: 750px;

    > h2 {
      width: 660px;
      font-size: 25px;
      margin-top: 50px;
    }

    > div {
      width: 700px;
      margin-top: 50px;
      margin-bottom: 100px;

      > div {
        width: 196px;
        height: calc(196px + 80px);
        margin: 15px;

        > img {
          width: 196px;
          height: 196px;
        }

        > div {
          width: 100%;
          height: calc(80px - 20px);
          padding: 10px 18px;

          > div {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  /* 데스크탑 */
  .page {
    width: 1200px;

    > h2 {
      width: 860px;
      font-size: 40px;
      margin-top: 50px;
    }

    > div {
      width: 950px;
      margin-top: 50px;
      margin-bottom: 120px;

      > div {
        width: 267px;
        height: 370px;
        margin: 15px;

        > img {
          width: 267px;
          height: 267px;
        }

        > div {
          width: 100%;
          height: calc(370px - 267px - 30px);
          padding: 15px 26px;

          > div {
            font-size: 20px;
          }
        }
      }
    }
  }
}
